<div class="credit-table">
  <div class="single-credit">
    <img src="assets/gotowkowy.png" alt="" class="pricing-img">
    <h2 class="credit-header">Gotówkowy</h2>
    <div class="credit-features">
      <p class="credit-feature-item">w 24h</p>
      <p class="credit-feature-item">wszystko online</p>
      <p class="credit-feature-item">RRSO 11.14%</p>
      <p class="credit-feature-item">0% prowizji</p>
    </div>
    <span class="credit-amount">1000 - 200000 zł</span>
    <a routerLink="cash" class="credit-button">Wnioskuj</a>
  </div>

  <div class="single-credit">
    <img src="assets/ratalny.png" alt="" class="pricing-img">
    <h2 class="credit-header">Ratalny</h2>
    <div class="credit-features">
      <p class="credit-feature-item">w 12h</p>
      <p class="credit-feature-item">wszystko online</p>
      <p class="credit-feature-item">RRSO 0%</p>
      <p class="credit-feature-item">do 60 miesięcy</p>
    </div>
    <span class="credit-amount">do 30000 zł</span>
    <a routerLink="installment" class="credit-button is-featured">Wnioskuj</a>
  </div>

  <div class="single-credit">
    <img src="assets/samochodowy.png" alt="" class="pricing-img">
    <h2 class="credit-header">Samochodowy</h2>
    <div class="credit-features">
      <p class="credit-feature-item">do 100% ceny auta</p>
      <p class="credit-feature-item">bez wkładu własnego</p>
      <p class="credit-feature-item">RRSO 10.87%</p>
      <p class="credit-feature-item">okres spłaty do 10 lat</p>
    </div>
    <span class="credit-amount">do 100000 zł</span>
    <a routerLink="car" class="credit-button">Wnioskuj</a>
  </div>
</div>
